<div class="row">
  <div class="col-12 card-container">
    <div class="filter" style="margin-bottom: 3rem;">
      <app-provider-filter (filterChange)="onFilterChange($event)" (addressFilterChange)="onAddressFilterChange($event)"></app-provider-filter>
    </div>
    <div class="row">
      <div class="col-6" style="margin-bottom: 3rem;" *ngFor="let provider of providers$ | async">
        <div class="place">
          <img class="place__img"
               [src]="provider.thumb"
               alt="">
          <div style="height: 100%; padding: 2rem; text-align: left;">
            <h2>{{provider.name}}</h2>
            <div>
              <small style="font-size: 1.2rem;"> {{provider.address}}</small>
            </div>
            <div *ngIf="provider.phoneNumber">
              <small style="font-size: 1.2rem;"> {{provider.phoneNumber}}</small>
            </div>
            <div *ngIf="provider.website">
              <small style="font-size: 1.2rem;"><a [href]="provider.website">{{provider.website}}</a></small>
            </div>
            <div>
              <small style="font-size: 1.2rem;">{{provider.distance}} meters</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
