<app-modal (closed)="closed.emit()" [showModal]="showModal" title="Create Recipe">

  <form #form="ngForm" (ngSubmit)="formSubmitted()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="recipe.name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" [(ngModel)]="recipe.description">
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="prepTime">Prep Time</label>
          <input type="text" class="form-control" id="prepTime" name="prepTime" [(ngModel)]="recipe.prepTime">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="description">Cook Time</label>
          <input type="text" class="form-control" id="cookTime" name="cookTime" [(ngModel)]="recipe.cookTime">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="portionsize">Portion Size</label>
          <input type="text" class="form-control" id="portionsize" name="portionsize" [(ngModel)]="recipe.portionsize">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="ingredients">Search for an ingredient:</label>
      <input id="typeahead-basic" type="text" class="form-control" id="ingredients"
             [value]="ingredientValue"
             [(ngModel)]="ingredientModel"
             [ngModelOptions]="{standalone: true}"
             [editable]='false'
             [inputFormatter]="ingredientFormatter"
             [resultFormatter]="ingredientFormatter"
             (selectItem)="onIngredientModelChange($event)"
             [ngbTypeahead]="ingredientSearch.bind(this)"/>

      <div class="row selected-ingredient" *ngFor="let ingredient of ingredients; let i = index">
        <div class="col-9">
          {{ ingredient.description }} <span class="increase-ingredient"
                                             (click)="increaseIngredient(i)">{{ingredient.times > 1 ? '* ' + ingredient.times : '+'}}</span>
        </div>
        <div class="col-3 " style="padding-right: 30px">
          <select class="custom-select custom-select-sm"
                  (change)="onIngredientAmountChange(i, $event.target.value)">
            <option selected value="100">100g</option>
            <option value="1">1g</option>
            <option [value]="portion['gramWeight']"
                    *ngFor="let portion of ingredient['foodPortions']">{{ portion['portionDescription'] + ' (' + portion['gramWeight'] + 'g)' }}</option>
          </select>
          <span class="remove-ingredient" (click)="removeIngredient(i)">x</span>
        </div>
      </div>


      <div *ngIf="recipe.nutrients && recipe.nutrients['Energy']" class="row">
        <div class="col-3">
          Total calorie:
        </div>
        <div class="col-9">
          {{recipe.nutrients['Energy'].amount | number}}
        </div>
        <div class="col-12">
          <span class="see-nutrient-details" *ngIf="!showNutrientDetails" (click)="showNutrientDetails = true">See all details</span>
        </div>
      </div>

      <div *ngIf="showNutrientDetails">
        <div *ngFor="let nutrientKey of objectKeys(recipe.nutrients)">
          <div class="row" *ngIf="nutrientKey !== 'Energy' && recipe.nutrients[nutrientKey].amount">
            <div class="col-3">{{nutrientKey}}:</div>
            <div class="col-9">{{recipe.nutrients[nutrientKey].amount | number}}</div>
          </div>
        </div>
        <div>
          <span class="see-nutrient-details" *ngIf="showNutrientDetails" (click)="showNutrientDetails = false">Hide details</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="directions">Directions</label>
      <textarea class="form-control" name="directions" id="directions" cols="30" rows="5"
                [(ngModel)]="recipe.directions"></textarea>
    </div>

    <div class="form-group">
      <label for="recipePicture">Choose recipe picture</label>
      <input type="file" class="form-control-file" id="recipePicture" (change)="selectRecipePicture($event)">
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="vegan" (change)="onTagChange($event, 'Vegan')"
             [checked]="tagMap['Vegan'].checked" [disabled]="tagMap['Vegan'].disabled">
      <label class="form-check-label" for="vegan" style="margin-left: 0.8rem;">Vegan</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="Vegetarian" (change)="onTagChange($event, 'Vegetarian')"
             [checked]="tagMap['Vegetarian']" [disabled]="tagMap['Vegetarian'].disabled">
      <label class="form-check-label" for="Vegetarian" style="margin-left: 0.8rem;">Vegetarian</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="Gluten-free" (change)="onTagChange($event, 'Gluten-free')"
             [checked]="tagMap['Gluten-free']" [disabled]="tagMap['Gluten-free'].disabled">
      <label class="form-check-label" for="Gluten-free" style="margin-left: 0.8rem;">Gluten-free</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="SugarFree" (change)="onTagChange($event, 'Sugar Free')"
             [checked]="tagMap['Sugar Free']" [disabled]="tagMap['Sugar Free'].disabled">
      <label class="form-check-label" for="SugarFree" style="margin-left: 0.8rem;">Sugar Free</label>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">Submit</button>
  </form>
</app-modal>

