.form-control {
  font-size: 1.6rem;
}

.remove-ingredient {
  position: absolute;
  right: 1.6rem;
  top: 1px;
  cursor: pointer;
  color: #aaa;
  float: right;
  font-size: 1.8rem;
  font-weight: bold;
  color: darkred;
}

.increase-ingredient {
  font-size: 1.8rem;
  cursor: pointer;
  font-weight: bold;
  color: darkred;
}

.selected-ingredient {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.see-nutrient-details {
  font-size: 1.8rem;
  color: darkred;
  text-decoration: underline;
  cursor: pointer;

}
