.form-control {
  font-size: 1.6rem;
}

.remove-ingredient {
  position: absolute;
  right: 1.6rem;
  top: 1px;
  cursor: pointer;
  color: #aaa;
  float: right;
  font-size: 1.6rem;
  font-weight: bold;
}

.increase-ingredient {
  font-size: 1.2rem;
  cursor: pointer;
}

.selected-ingredient {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.see-nutrient-details {
  font-size: 1.2rem;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
