.mr-sm {
  margin-right: 1rem!important;
}

.mb-sm {
   margin-bottom: 1rem!important;
 }

.mb-md {
  margin-bottom: 2rem!important;
}

.mb-lg {
  margin-bottom: 4rem!important;
}

.mt-sm {
  margin-top: 1rem!important;
}

.mt-md {
  margin-top: 2rem!important;
}

.mt-lg {
  margin-top: 4rem!important;
}

.clickable {
  cursor: pointer;
}

.right {
  float: right!important;
}
