$color-dark: #232833;
$color-medium: #3a4354;
$color-white: #fff;
$color-grey: #dee3ec;
$color-grey-2: #96a3b6;
$color-grey-light: #f0f2f5;
$color-grey-light-2: #e5e5e5;

$color-bullet-default: #e3e7ea;
$color-bullet-primary: #3ea3ec;
$color-bullet-success: #23c65b;
$color-bullet-warning: #f8b333;

$default-font-size: 1.6rem;
$default-font-color: #333;

$header-height: 6rem;
