@import "_variables";

.header {
  height: $header-height;
  background-color: $color-dark;

  &__logo {
    height: 95%;
    display: flex;
    margin-left: 1rem;
  }

  &__img {
    align-self: center;
    width: 28rem;
    height: 6rem;
  }
}

.main {
  min-height: calc(100vh - #{$header-height});
  display: flex;

  &__right {
    flex: 0 0 6.4rem;
    background-color: $color-medium;
  }

  &__left {
    flex: 1;
    padding: 4rem;
  }
}

.empty_box {
  height: 60rem;
  background-color: orangered;
}
