<section class="section-heading">
  <h1 class="heading-primary">
    Register
  </h1>
</section>
<section class="register-form">
  <form #form="ngForm" (ngSubmit)="formSubmitted()">
    <div class="form-group">
      <label for="email">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">Submit</button>
    <a [routerLink]="'/login'" class="login-link">Login</a>
  </form>
</section>
