<div class="row">
  <div class="col-3 mb-lg" *ngFor="let recipe of recipesArray">
    <div class="recipe" (click)="recipeSelected.emit(recipe)">
      <img [src]="recipe.thumbUrl" alt="" class="recipe__img">
      <div class="recipe__details">
        <h2>
          {{ recipe.name }}
        </h2>
        <div class="recipe__rating" *ngIf="recipe['rating'] && recipe['numberOfComments'] ">
          <span class="fa fa-star" [class.checked]="recipe['rating'] >= 1"></span>
          <span class="fa fa-star" [class.checked]="recipe['rating'] >= 2"></span>
          <span class="fa fa-star" [class.checked]="recipe['rating'] >= 3"></span>
          <span class="fa fa-star" [class.checked]="recipe['rating'] >= 4"></span>
          <span class="fa fa-star" [class.checked]="recipe['rating'] >= 5"></span>
          <span class="recipe__number-of-comments">
            {{recipe['numberOfComments']}}
          </span>
        </div>
        <div class="recipe__description">
          {{recipe.description }}
        </div>
        <div class="recipe__created-by" *ngIf="recipe.createdBy">
          <img [src]="recipe.createdBy.thumb" alt="" class="recipe__user-img">
          <span>
            {{ recipe.createdBy.name }}
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
