.reservation-table {
  &__sort-icon-box {
    display: inline-block;
  }

  &__sort-icon {
    height: 1.6rem;
  }
}

.recipe {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;

  &__img {
    width: 100%;
  }

  &__created-by {
    display: flex;
    flex-direction: row;
  }

  &__user-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }
}

.checked {
  color: orange;
}
