@import "_variables";

.filter {
  background-color: $color-grey-light;
  font-size: $default-font-size;
  padding: 1.5rem 2rem;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  &__dropdown-box {
    float: left;
  }

  &__label {
    margin-right: 1rem;
  }

  &__dropdown {
    padding: 0.8rem 1.2rem;
  }

  &__dropdown:not(:last-child) {
    margin-right: 0.5rem;
  }

  &__search-box {
    float: right;
  }

  &__search {
    padding: 0.8rem 1.2rem 0.8rem 2.5rem;
    background: $color-white url("/assets/icons/search.svg") no-repeat 0.7rem 1rem;
  }

  &--loading {
    background: url("/assets/icons/spinner.gif") no-repeat 0.7rem 1rem;
    background-size: 1.3rem 1.3rem;
  }

  &__search::placeholder {
    font-style: italic;
  }
}
