<div class="row mt-0 pt-0 mx-10">
  <div>
    <div>
      <div class="px-4 pt-n5 pb-4 bg-dark">
        <div class="media align-items-end profile-header">
          <div class="profile mr-3"><img [src]="user.thumb" alt="..." width="250" class="rounded mb-2 img-thumbnail">
            <a [routerLink]="'/editprofile'" class="btn btn-dark btn-sm btn-block">Edit profile</a></div>
          <div class="media-body mb-5 text-white">
            <h3 class="mt-0 mb-2">{{user.username}}</h3>
            <p style="font-size: 1.2rem" class="medium mb-2"> <i class="fa fa-map-marker mr-2"></i>Bursa</p>
            <p style="font-size: 1.2rem" class="list-inline-item"><i class="fa fa-heart-o mr-2"></i>Likes</p>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-light p-4">
      <ul></ul>
    </div>
    <div class="py-4 px-4">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <h3 class="mb-0">Recipes</h3>
      </div>
      <app-recipe-list [recipes]="recipes"
                       (recipeSelected)="recipeDetails = $event"></app-recipe-list>

    </div>
  </div>
</div>
