@import "_variables";

.navigation {
  list-style: none;

  &__item {
    padding: 1.6rem 2rem;
    cursor: pointer;
  }

  &__item:hover {
    background-color: $color-dark;
  }

  &--active {
    background-color: $color-dark;
  }
}
