<section class="section-heading">
  <h1 class="heading-primary">
    Recipes
  </h1>
  <button class="btn btn-primary add-button" (click)="showModal = true">
    Add recipe
  </button>
</section>
<section class="section-filter">
  <app-recipe-filter (searched)="onSearched($event)"></app-recipe-filter>
</section>
<section class="section-list">
  <app-recipe-list [recipes]="recipes | recipefilter: filterByRecipeName"></app-recipe-list>
</section>

<app-create-recipe-modal [showModal]="showModal" (closed)="showModal = false"></app-create-recipe-modal>
