<section class="section-heading">
  <h1 class="heading-primary">
    Recipes
  </h1>
  <div>
    <button style="position: absolute; right: 0; margin-right: 4.5rem" class="btn btn-primary add-button" (click)="showRecipeCreateModal = true">
      Add recipe
    </button>
  </div>
</section>
<section class="section-filter">
  <app-recipe-filter (searched)="onSearched($event)"></app-recipe-filter>
</section>
<section class="section-list">
  <app-recipe-list [recipes]="recipes | recipefilter: filterByRecipeName"
                   (recipeSelected)="recipeDetails = $event"></app-recipe-list>
</section>

<app-create-recipe-modal [showModal]="showRecipeCreateModal"
                         (closed)="showRecipeCreateModal = false"></app-create-recipe-modal>
<app-recipe-details-modal [showModal]="!!recipeDetails" [recipeDetails]="recipeDetails"
                          (closed)="recipeDetails = null"></app-recipe-details-modal>
