.section-filter {
  margin-bottom: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.section-heading {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
}

.add-button {
  margin-left: auto;
  order: 2;
}
