<app-modal (closed)="closed.emit()" [showModal]="showModal" title="{{recipeDetails.name}}" *ngIf="recipeDetails">
  <div style="text-align: center">
    <img class="card-img-top" [src]="recipeDetails.thumbUrl" alt="Recipe Image">
  </div>
  <div class="card-body" style="font-size: 1.6rem">
    <h5 class="card-title">Description</h5>
    <p class="card-text">{{recipeDetails.description}}</p>
    <h5 class="card-title">Directions</h5>
    <p class="card-text" style="white-space: pre;">{{recipeDetails.directions}}</p>
    <div class="row" style="margin-bottom: 0.75rem">
      <div class="col-6">
        <h5 class="card-title">Prep Time</h5>
        <p class="card-text">{{recipeDetails.prepTime}} minutes</p>
      </div>
      <div class="col-6">
        <h5 class="card-title">Cook Time</h5>
        <p class="card-text">{{recipeDetails.cookTime}} minutes</p>
      </div>
    </div>

    <ng-container *ngIf="recipeDetails.tags && recipeDetails.tags.length > 0">
      <h5 class="card-title">Tags</h5>
      <p class="card-text" *ngFor="let tag of recipeDetails.tags">
        {{tag}}
      </p>
    </ng-container>

    <div *ngIf="recipeDetails.nutrients">
      <h5 class="card-title">Nutrients</h5>
      <div class="row">
        <div class="col-6">
          <ng-container *ngFor="let nutrientKey of objectKeys(recipeDetails.nutrients); let i = index">
            <div class="" *ngIf="i < objectKeys(recipeDetails.nutrients).length / 2">
              <div class="nut-label">{{nutrientKey}}:</div>
              <div class="nut-value">{{recipeDetails.nutrients[nutrientKey].amount | number}}</div>
            </div>
          </ng-container>
        </div>
        <div class="col-6">
          <ng-container *ngFor="let nutrientKey of objectKeys(recipeDetails.nutrients); let i = index">
            <div *ngIf="i >= objectKeys(recipeDetails.nutrients).length / 2">
              <div class="nut-label">{{nutrientKey}}:</div>
              <div class="nut-value">{{recipeDetails.nutrients[nutrientKey].amount | number}}</div>
            </div>
          </ng-container>
        </div>

      </div>
    </div>


    <button type="button" class="btn btn-primary" style="margin-top: 0.75rem">Save this recipe</button>
  </div>
</app-modal>
